*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#dumbledore{
    position: absolute;
    top: 75%;
	left: 10%;
    height: 150px;
    width: auto;
    display: inline-block;
    animation: animateCharacter 2s infinite linear;
}

#harry{
    position: absolute;
    top: 75%;
	left: 27%;
    height: 150px;
    width: auto;
    display: inline-block;
    animation: animateCharacter 2s infinite linear;
}

#voldemort{
    position: absolute;
    top: 75%;
	left: 44.5%;
    height: 150px;
    width: auto;
    display: inline-block;
    animation: animateCharacter 2s infinite linear;
}

#hermione{
    position: absolute;
    top: 75%;
	left: 61%;
    height: 150px;
    width: auto;
    display: inline-block;
    animation: animateCharacter 2s infinite linear;
}

#ron{
    position: absolute;
    top: 75%;
    left: 78%;
    height: 150px;
    width: auto;
    display: inline-block;
    animation: animateCharacter 2s infinite linear;
}

@keyframes animateCharacter {
    0%{
        transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transforM: scale(1);
    }
  }

section{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(hogwarts.png);
    background-size: cover;
    animation: animateBackground 10% linear infinite;
}
@keyframes animateBackground{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

section .load{
    position: relative;
    width: 120px;
    height: 120px;

}

section .load span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg*var(--i)));
}

section .load span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #c3c8d6;
    box-shadow: 0 0 20px #b1b8c9, 0 0 30px #9fa7bd, 0 0 50px #8d96b0, 0 0 100px #8089a6;
    animation: animate 2s linear infinite;
    animation-delay: calc(0.1s*var(--i));
}
@keyframes animate{
    0%{
        transform: scale(1);
    }
    80%,100%{
        transform: scale(0);
    }
}